<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- For Google Maps -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.iagnihotra.android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.quanify.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quanify.activities.OnlineRecordSearchActivity"
            android:label="Online Reporting" />
        <activity
            android:name="com.quanify.activities.DatabaseSearchActivity"
            android:label="Quanify Database" />
        <activity
            android:name="com.quanify.activities.DatabaseSearchResultsActivity"
            android:label="Search Results" />
        <activity
            android:name="com.quanify.activities.LocalDevicesActivity"
            android:label="Devices" />
        <activity
            android:name="com.quanify.activities.DeviceInfoActivity"
            android:label="Device Info" />
        <activity
            android:name="com.quanify.activities.TempHistoryActivity"
            android:label="Temperature History" />
        <activity
            android:name="com.quanify.activities.ViewDataActivity"
            android:label="@string/title_activity_view_data" >
        </activity>
        <activity
            android:name="com.quanify.activities.ShipmentConfigurationActivity"
            android:label="Shipment Configuration" >
        </activity>
        
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA1WwGcaN5RDGqERKSqg15l1QQulC9OL5Y" />
    </application>

</manifest>